[submodule "guilib"]
	path = guilib
	url = https://github.com/German-Immersive-Railroading-Community/guilib
[submodule "linkableapi"]
	path = linkableapi
	url = https://github.com/German-Immersive-Railroading-Community/linkableapi
